{% extends "admin.html" %}
{% block Unit %}
<div class="container">
    <div class="span9 offset1">
        <table class="table table-striped">
            <thead>
                    <tr>
                      <th>Unit</th>
                      <th>Title</th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                {% for wUnit in wUnits %}
                    <tr>
                      <td>{{wUnit.unit_no}}</td>
                      <td>{{wUnit.unit_title}}</td>
                      <td><a href="/auv/{{wUnit.key.id()}}" class="btn btn-info">View</a></td>
                      <td><a href="aue/{{wUnit.key.id()}}" class="btn btn-info">Edit</a></td>
                      <td><a href="/auc" class="btn btn-danger">Create</a></td>
                    </tr>
                {% endfor %}
                  </tbody>
        </table>
    </div>
</div>
{% endblock Unit %}