{% extends "main.html" %}
{% block content %}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="admin-unit">
        <h1>The 'Heart' of the Portal</h1>
        <p>This is where you can break things!</p>
		<table align="center" cellspacing="15" cellpadding="10">
		<tr>
		<td><a href="/users" class="btn btn-primary btn-large">User Admin</a></td>
		<td></td>
		<td><a href="/adminU" class="btn btn-primary btn-large">Unit Admin</a></td>
		<td></td>
		<td><a href="#" class="btn btn-primary btn-large">Site Admin</a></td>
		<td></td>
		</tr>
		</table>
    </div>
    
</div>

{% block Unit %}
{% endblock Unit %}
{% endblock content %}

