{% extends "admin.html" %}
{% block Unit %}
<div class="container">
    <div class="span9 offset1">
        <form action="" method="post">
            <fieldset>
                <legend>Unit 1 Administration</legend>
                <label>Unit Title</label>
                <input type="text" name="title" id="unit_title" placeholder="Type something..">
                <label>Frame Type</label>
                <select name="ftype" id="ftype">
                    <option>Template</option>
                    <option>Page</option>
                </select>
            </fieldset>
            <fieldset>
                <label>Outcome 1</label>
                <input type="text" name="outcome1" id="outcome1"/>
                <label>Narrative 1</label>
                <textarea rows="4" cols="70" name="narrative1" id="narrative1"></textarea>
                <label>Narrative 2</label>
                <textarea rows="4" cols="70" name="narrative2" id="narrative2"></textarea>
                <label>Narrative 3</label>
                <textarea rows="4" cols="70" name="narrative3" id="narrative3"></textarea>
                <label>Outcome 2</label>
                <input type="text" name="outcome2" id="outcome2"/>
                <label>Narrative 4</label>
                <textarea rows="4" cols="70" name="narrative4" id="narrative4"></textarea>
                <label>Narrative 5</label>
                <textarea rows="4" cols="70" name="narrative5" id="narrative5"></textarea>
                <label>Narrative 6</label>
                <textarea rows="4" cols="70" name="narrative6" id="narrative6"></textarea>
                <label>Outcome 3</label>
                <input type="text" name="outcome3" id="outcome3"/>
                <label>Narrative 7</label>
                <textarea rows="4" cols="70" name="narrative7" id="narrative7"></textarea>
                <label>Narrative 8</label>
                <textarea rows="4" cols="70" name="narrative8" id="narrative8"></textarea>
                <label>Outcome 4</label>
                <input type="text" name="outcome4" id="outcome4"/>
            </fieldset>
            <button type="submit" class="btn btn-info">Save</button>
        </form>
    </div>
</div>
{% endblock Unit %}