{% extends "admin.html" %}
{% block Unit %}
<div class="container">
    <div class="fluid-row"
         {% for item in unitNo %}
        <div class="span9 offset2">
            
            <h3>Unit 1 - {{ item.unit_title }}</h3>
            <h4>{{ item.objective1 }}</h4>
            <p class="lead">{{ item.narrative1 }}</p>
            <textarea>Student responses...</textarea>
            <p class="text-right"><a href="/au1e" class="btn btn-danger">Edit</a></p>
            <p class="lead">{{ item.narrative2 }}</p>
            <textarea>Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="lead">{{ item.narrative3 }}</p>
            <textarea>Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="lead">{{ item.narrative4 }}</p>
            <textarea>Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            {% endfor %}
        </div>
    </div>    
</div>
{% endblock Unit %}