{% extends "admin.html" %}
{% block Unit %}
<div class="container">
    <div class="fluid-row"
        <div class="span9 offset2">
            
            <h3>Unit {{ Unit.unit_no }} - {{ Unit.unit_title }}</h3>
            <h4>{{ Unit.outcome1 }}</h4>
            <p class="narrative">{{ Unit.narrative1 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="narrative">{{ Unit.narrative2 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="narrative">{{ Unit.narrative3 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <h4>{{ Unit.outcome2 }}</h4>
            <p class="narrative">{{ Unit.narrative4 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="narrative">{{ Unit.narrative5 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="narrative">{{ Unit.narrative6 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="narrative">{{ Unit.narrative7 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <h4>{{ Unit.outcome3 }}</h4>
            <p class="narrative">{{ Unit.narrative8 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
            <p class="narrative">{{ Unit.narrative9 }}</p>
            <textarea class="comments">Student responses...</textarea>
            <p class="text-right"><a href="#" class="btn btn-danger">Edit</a></p>
        </div>
    </div>    
</div>
{% endblock Unit %}