{% extends "main.html" %}
{% block content %}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="admin-unit">
        <h1>The Cloud Storage Test Area</h1>
        <p>This is where you can store personal documents and access course related material</p>
    </div>
	<div class="span6">
	<div class="library-unit"><h3>Buckets</h3></div>
	{{ stat }}
	</div>
	</div>
    
</div>

{% block Unit %}
{% endblock Unit %}
{% endblock content %}

