{% extends "main.html" %}
{% block content %}
<div class="container">

    <div class="admin-unit">
        <h1>The Library</h1>
        <p>This is where you can store personal documents and access course related material</p>
    </div>
   <div class="span7">
    <h4>Personal</h4>
        <table class="table table-striped">
            <thead>
                    <tr>
                      <th>File Name</th>
		      <th>Last Modified</th>
                    </tr>
            </thead>
                  <tbody>
		    {% for file in libContent %}
                    <tr>
			<td>{{ file.filename }}</td>
			<td>{{ file.creation }}</td>
			<td><a href="#" button type="button" class="btn btn-info">View</a></td>
		    </tr>
		    {% endfor %}
                  </tbody>
        </table>
    <h4>Course</h4>
        <table class="table table-striped">
            <thead>
                    <tr>
                      <th>File Name</th>
		      <th>Last Modified</th>
                    </tr>
            </thead>
                  <tbody>
		    {% for file in libContent %}
                    <tr>
			<td>{{ file.filename }}</td>
			<td>{{ file.creation }}</td>
			<td><a href="blobstore/blob/{{ file.key() }}" button type="button" class="btn btn-info">View</a></td>
		    </tr>
		    {% endfor %}
                  </tbody>
        </table>		
    </div> 
</div>

{% block Unit %}
{% endblock Unit %}
{% endblock content %}

