{% extends "main.html" %}

{% block content %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="portal-unit">
        <h2>Welcome to the Student Portal</h2>
        <p>This area is where all the relevant information and documentation pertaining to your course is made available.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Work Book</h2>
          <p>The workbook is made up of a number of question/answer and assignment sections which when completed can be used by the learner as a revision aid. Elements of the workbook will be extracted during the course and form the basis of the 10% evidence capture requirements.</p>
          <p><a class="btn" href="workbook">Continue &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Course Progress</h2>
          <p>The course progress section allows you to review you current progress of the course overall. This includes assignment status and tutor feedback. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Library</h2>
          <p>The library area holds documents which are of interest to all of the course. Documents which require collaboration from other course memebers are stored within this area as well as weekend admin details.</p>
          <p><a class="btn" href="library">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
    </div>
{% endblock content %}
