{% extends "unit.html" %}
{% block content %}
<div class="container">
    <div class="span10 offset1">
        <form action="" method="post">
            <fieldset>
                <input type="hidden" name="unit_no" id="unit_no" value="{{ Unit.unit_no }}">
                <input type="hidden" name="unit_title" id="unit_title" value="{{ Unit.unit_title }}">
                <input type="hidden" name="unit_des" id="unit_des" value="{{ Unit.unit_des }}">
                <input type="hidden" name="ftype" id="ftype" value="Page">
                <input type="hidden" name="editS" id="editS" value="Started">
                <h4>{{Unit.outcome1}}</h4>
                <input type="hidden" name="outcome1" id="outcome1" value="{{Unit.outcome1}}">
                <textarea class="comments" name="narrative1" id="narrative1">{{Unit.narrative1}}</textarea>
                <textarea class="comments" name="narrative2" id="narrative2">{{Unit.narrative2}}</textarea>
                <textarea class="comments" name="narrative3" id="narrative3">{{Unit.narrative3}}</textarea>
                <h4>{{Unit.outcome2}}</h4>
                <input type="hidden" name="outcome2" id="outcome1" value="{{Unit.outcome2}}">
                <textarea class="comments" name="narrative4" id="narrative4">{{Unit.narrative4}}</textarea>
                <textarea class="comments" name="narrative5" id="narrative5">{{Unit.narrative5}}</textarea>
                <textarea class="comments" name="narrative6" id="narrative6">{{Unit.narrative6}}</textarea>
                <h4>{{Unit.outcome3}}</h4>
                <input type="hidden" name="outcome3" id="outcome1" value="{{Unit.outcome3}}">
                <textarea class="comments" name="narrative7" id="narrative7">{{Unit.narrative7}}</textarea>
                <textarea class="comments" name="narrative8" id="narrative8">{{Unit.narrative8}}</textarea>
                <h4>{{Unit.outcome4}}</h4>
                <input type="hidden" name="outcome4" id="outcome1" value="{{Unit.outcome4}}">
            </fieldset>
            <button type="submit" class="btn btn-success">Save</button>
            <button href="/workbook.html" class="btn btn-info" >Cancel</button>
        </form>
    </div>
</div>
{% endblock content %}