{% extends "admin.html" %}
{% block Unit %}
<div class="container">
	<div class="span9 offset1">
	{% for user in users %}
        <table class="table table-striped">
            <thead>
                    <tr>
                      <th>Username</th>
                      <th>Created</th>
                      <th>Verified</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{user.name}}</td>
					            <td>{{user.updated}}</td>
                      <td>{{user.verified}}</td>                   
                    </tr>
                  </tbody>
        </table>
		{% endfor %}
    </div>
</div>
            
{% endblock Unit %}