<h1>Learning Outcomes and Assessment Criteria </h1>

<table border="0" class="outcomeassessbox">
<tbody>
<tr>
<td>
<p><span>On completion of this unit the learner must demonstrate
competence in the following areas:</span></p>

<p><span>1. Understand the legal constraints when planning a
walk.</span></p>

<p style="padding-left: 30px;"><span>1.1 Identify the relevant
regulatory bodies of Health and Safety in the outdoors.</span></p>

<p style="padding-left: 30px;"><span>1.2 Explain how current
legislation impacts upon the role of the Walk Leader.</span></p>

<p><span>2. Understand the organisational guidelines when planning
a walk.</span></p>

<p style="padding-left: 30px;"><span>2.1 Explain the remit of the
Walk Leader.</span></p>

<p style="padding-left: 30px;"><span>2.2 Describe the reasons for
appropriate group and personal insurance.</span></p>

<p style="padding-left: 30px;"><span>2.3 Explain the breadth of the
relevant insurance policy/s.</span></p>

<p style="padding-left: 30px;"><span>2.4 Identify and complete the
required organisational documentation.</span></p>

<p><span>3. Plan a walk.</span></p>

<p style="padding-left: 30px;"><span>3.1 Know what information is
required to plan a walk.</span></p>

<p style="padding-left: 30px;"><span>3.2 Select a route with public
access that is within the remit of the leader.</span></p>

<p style="padding-left: 30px;"><span>3.3 Create a plan for a walk
which is appropriate for the needs of the group.</span></p>

<p><span>4. Understand the importance of a weather
forecast.</span></p>

<p style="padding-left: 30px;"><span>4.1 Select sources of weather
information.</span></p>

<p style="padding-left: 30px;"><span>4.2 Explain the terminology
used in weather forecasting.</span></p>

<p style="padding-left: 30px;"><span>4.3 Adapt a walk plan as a
result of the weather forecast.</span></p>
</td>
</tr>
</tbody>
</table>
